@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
body{
  background-color:#34A65F;
  font-family: 'Ubuntu', sans-serif;
}

h1{
  font-size: 1.15em;
}
.App{
  margin: 0 auto;
  width: 380px;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  padding: 45px;
  background: #CC231E;
  color: white;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
  margin:0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: black;
  cursor: pointer;
}
/* Arrow */
select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */


.nameDiv{    
  height: 40px;
  color: #34A65F;
  font-weight: bold;
  font-size: 1.25em;
}


button {
    width: 222px;
    height: 30px;
    background: #33a65f;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin-top: 9px;
    cursor: pointer;
}

button:hover{
  background: #0F8A5F;
}